html{
	font-family : 'Roboto', sans-serif;
}

a{
	color:white;
	text-decoration:none;
}

a:visited{
	color: white;
}

a:hover{
	color:red;
}

/*
body{
	background-image: url('../images/oakland.png');
	background-repeat : no-repeat;
	background-position : center;
	background-size : 100vw;
	
}
*/
