body , html{
	margin : 0;
	padding : 0;
}
.app{
	margin-top:8vh;

}
.home-container{
	text-align:center;
}

.bg-img img{
	width : 35vh;
	top : 50%;
	left: 50%;
}

.top-home{
	font-size: 2em;
	height: 80vh;
}

.homeLink{
	padding : 1% 2%;
	border-radius : 35px;
}

.homeLink a{
	color : white !important;
}

.homeLink{
	background : black;
}

.homeDiv div{
	display:block;
	margin: 0 auto;
}

.homeDiv ul{
	list-style: none;
	flex:1;
	padding : 0;
}

.homeDiv li{
	font-size:1.2em;
	display:inline-block;
	border-radius: 25px;
	padding : 3%;
}

.homeDiv h1{
	font-size:3rem;
	font-weight:100;
	text-transform: underline;
}

.homeDiv hr{
	width : 25%;
	size:40;
	background:black;
}
