body{
	margin : 1%;
}

.home-container{
	text-align:center;	
}

.bg-img img{
	width : 25vw;
	top : 50%;
	left: 50%;

}


.top-home h1, .top-home h2,.top-home h3{
	background:white;
}


.top-home{
	font-size: 2em;
	height: 80vh;
}

.homeLink{
	padding : 1% 2%;
	border-radius : 35px;
}

.homeLink a{
	color : black !important;
}

.homeDiv div{
	display:block;
	margin: 0 auto;
}

.homeDiv ul{
	list-style: none;
	flex:1;
	padding : 0;
}

.homeDiv li{
	display:inline-block;
	border-radius: 25px;
	padding : 3%;
}
