#navbar{
	font-weight:lighter;
	background :#353333;
	display:flex;
	font-size:0.8em;
	position: fixed;
	width:100%;
	top:0;
}
#navbar-right, #navbar-left{
	flex:1;
}

#navbar-right{
	display:contents;
}	

#navbar div{
	margin: 5px 10px;
	align-self : center;	
}

#hamburger-icon{
	display:inherit;
	height:40px;
	margin:auto;
	cursor:pointer;
}

#nav-hamburger{
	display:none;
}

#nav-right{
	display:flex;
}

#nav-right a{
	margin :5px;
}


@media only screen and (max-width: 800px){
	.show{
		display:grid !important;
	}

	.hide{
		display:none !important;
	}	
	
	#nav-right{
		display:none;
	}

	#nav-hamburger{
		display:grid;
	}	
}
