#navbar{
	font-weight:bold;
	background :#353333;
	border-radius:10px;
	display:flex;
	font-family : 'Source Code Pro', monospace;
}

#navbar-right, #navbar-left{
	flex:1;
}

#navbar-right{
	display:contents;
}	

#navbar div{
	margin: 5px 10px;
	align-self : center;	
}

#hamburger-icon{
	display:inherit;
	height:40px;
	margin:auto;
	cursor:pointer;
}


@media only screen and (max-width: 800px){
	#navbar-right{
		display:none;
	}
}
