#navbar{
	font-weight:bold;
	border-radius:10px;
	display:flex;
	height: 7vh;
	font-family : 'Source Code Pro', monospace;
}

#navbar-right, #navbar-left{
	flex:1;
}

#navbar-right{
	display:contents;
}	

#navbar div{
	margin: 0 10px;
	align-self : center;	
}
