
/* Middle size screen */
@media only screen and (min-width:500px) and ( max-width: 1000px){
	.project-wrapper {
		display:block;
	}
}


/* Large size screen */
@media only screen and (min-width : 1001px){
	.project-wrapper{
		display:flex;
	}
}


/* Common */

.project-img:hover{
	opacity:0.3;	
}




.project-wrapper img{
	width:100%;
}

.project-wrapper div{
	flex:1;
}

.grey-out{
	color : grey;
}

.small-font{
	font-size: 0.6em;
}

.med-font{
	font-size : 0.8em;
}
