@media only screen and (min-width:500px) and ( max-width: 1000px){
	#project-wrapper {
		display:block;
	}
	
	#project-div{
		display:flex;
	}
	
	#project-div div{ 
		flex:1;
	}
}

@media only screen and (min-width : 1001px){
	#project-wrapper{
		display:flex;
	}
}

#project-wrapper img{
	width:100%;
}

#project-div{
	border:1px solid grey;
}

#project-wrapper div{
	flex:1;
}

.grey-out{
	color : grey;
}

.small-font{
	font-size: 0.6em;
}

.med-font{
	font-size : 0.8em;
}
